<!doctype html>
<html>
    <head>
        <title>{{ title }}</title>
        <style>
            .error {
                color: red;
            }
        </style>
    </head>
<body>
    
    <nav id='left_nav'>
        <a href='/'>Home</a>
        <a href='/blog'>All Posts</a>
        <a href='/newpost'>New Post</a>
        <style>
            #left_nav {
                text-align: left;
            }
        </style>
    </nav>
    <nav id='right_nav'>
        <a href='/login'>Login</a>
        <a href='/logout'>Logout</a>
        <style>
            #right_nav {
                text-align: right;
            }
        </style>
    </nav>

    {% block content %}
    {% endblock %}

</body>
</html>