{% extends "base.html" %}

{% block content %}

    <!--displays page to add a blog entry, with separate text boxes for title and body.-->
    <h1>Add Blog Entry</h1>
    <style>
        h1 {
            text-align: center;
        }
    </style>
    <br>
    <form method='post'>
        <label>Title for your new blog:
            <br>
            <input type='text' name='blog-title' value='{{blog_title}}'>
        </label>
        <p class='error'>{{title_error}}</p>
        <br>
        <label>Your new blog:
            <br>
            <textarea name='blog-body' style='width:300px; height:125px;'>{{blog_body}}</textarea>
        </label>
        <p class='error'>{{body_error}}</p>
        <input type='submit' value='Add Entry'>
    </form>
    
{% endblock %} 
